{% extends 'base.html' %}
{% load static %}

{% block title %}Рецепты{% endblock title %}
{% block css %}<link rel="stylesheet" href="{% static "pages/index.css" %}">{% endblock css %}
{% block header %}
  <h1 class="main__title">Рецепты</h1>
  {% include 'includes/checkbox_header.html' with tags=tags %}
{% endblock header %}

{% block content %}
{% csrf_token %}
<div class="card-list">
  {% for recipe in page %}
    {% include 'includes/card_recipe.html' with recipe=recipe %}
  {% endfor %}
</div>
{% include 'includes/paginator.html' with items=page paginator=paginator %}
{% endblock content %}

{% block js %}
<script type="text/javascript" src="{% static "js/components/MainCards.js" %}"></script>
<script type="text/javascript" src="{% static "js/components/Purchases.js" %}"></script>
{% if user.is_authenticated %}
<script type="text/javascript" src="{% static "js/components/Favorites.js" %}"></script>
{% endif %}
<script type="text/javascript" src="{% static "js/config/config.js" %}"></script>
<script type="text/javascript" src="{% static "js/components/CardList.js" %}"></script>
<script type="text/javascript" src="{% static "js/components/Header.js" %}"></script>
<script type="text/javascript" src="{% static "js/api/Api.js" %}"></script>
{% if user.is_authenticated %}
<script type="text/javascript" src="{% static "indexAuth.js" %}"></script>
{% else %}
<script type="text/javascript" src="{% static "indexNotAuth.js" %}"></script>
{% endif %}
{% endblock js %}