{% load static %}
{% load user_filters %}
<div class="card" data-id="{{ recipe.id }}">
    <a href="{% url 'recipes:recipe' recipe.id %}" class="link" target="_blank">
      <img src="{{ MEDIA_URL }}{{ recipe.image.url }}" alt="Картинка блюда" class="card__image">
    </a>
    <div class="card__body">
      <a class="card__title link" href="{% url 'recipes:recipe' recipe.id %}" target="_blank">{{ recipe.title }}</a>
      <ul class="card__items">
        {% for tag in recipe.tag.all %}
          <li class="card__item"><span class="badge badge_style_{{ tag.color }}">{{ tag.title }}</span></li>
        {% endfor %}
      </ul>
      <div class="card__items card__items_column">
        <p class="card__text"><span class="icon-time"></span> {{ recipe.cooking_time }}мин.</p>
        <p class="card__text"><span class="icon-user"></span>
          <a href="{% url 'recipes:author_page' recipe.author.username %}" style="color: blue; text-decoration: none;"><i> #{{ recipe.author.username }}</i></a>
        </p>
      </div>
    </div>
    <div class="card__footer">
      {% if request.user.is_authenticated and recipe.author != request.user %}
        {% include 'buttons/shoplist.html' with recipe=recipe %}
        {% include 'buttons/favorite.html' with recipe=recipe %}
      {% endif %}
    </div>
</div>