{% load static %}
{% load user_filters %}
<div class="card-user" data-author="{{ author.id }}">
  <div class="card-user__header">
    <h2 class="card-user__title">
      {% if author.first_name and author.last_name %}
        {{ author.first_name }} {{ author.last_name }}
      {% else %}
        {{ author.username }}
      {% endif %}
    </h2>
  </div>
  <div class="card-user__body">
    <ul class="card-user__items">
      {% for recipe in author.recipes.all|slice:"0:3" %}
        <li class="card-user__item">
          <div class="recipe">
            <img src="{{ MEDIA_URL }}{{ recipe.image.url }}" alt="Картинка блюда" class="recipe__image">
            <h3 class="recipe__title">{{ recipe.title }}</h3>
            <p class="recipe__text"><span class="icon-time"></span> {{ recipe.cooking_time }}</p>
          </div>
        </li>
      {% endfor %}
      {% if author.recipes.all.count > 3 %}
      <li class="card-user__item">
        <a href="{% url 'recipes:author_page' author.username %}" class="card-user__link link">Еще {{ author.recipes.all.count|subtraction:"-3" }} рецептов...</a>
      </li>
      {% endif %}
    </ul>
  </div>
  <div class="card-user__footer">
    <button class="button button_style_light-blue button_size_auto" name="subscribe">Отписаться</button>
  </div>
</div>