{% load static %}
{% load user_filters %}
<div class="card" data-id="{{ recipe.id }}">
    <a href="{% url 'recipes:recipe' recipe.id %}" class="link" target="_blank">
      <img src="{{ MEDIA_URL }}{{ recipe.image.url }}" alt="Картинка блюда" class="card__image">
    </a>
    <div class="card__body">
      <a class="card__title link" href="{% url 'recipes:recipe' recipe.id %}" target="_blank">{{ recipe.title }}</a>
      <ul class="card__items">
        {% for tag in recipe.tag.all %}
          {% if tag.tag == 'lunch' %}
            <li class="card__item"><span class="badge badge_style_green">Обед</span></li>
          {% endif %}
          {% if tag.tag == 'breakfast' %}
            <li class="card__item"><span class="badge badge_style_orange">Завтрак</span></li>
          {% endif %}
          {% if tag.tag == 'dinner' %}
            <li class="card__item"><span class="badge badge_style_purple">Ужин</span></li>
          {% endif %}
        {% endfor %}
      </ul>
      <div class="card__items card__items_column">
        <p class="card__text"><span class="icon-time"></span> {{ recipe.cooking_time }}мин.</p>
        <p class="card__text"><span class="icon-user"></span>
          <a href="{% url 'recipes:author_page' recipe.author.username %}" style="color: blue; text-decoration: none;"><i> #{{ recipe.author.username }}</i></a>
        </p>
      </div>
    </div>
    <div class="card__footer">
      {% comment %} {% if user.is_authenticated and recipe.author != request.user %} {% endcomment %}
      {% if user.is_authenticated %}
        {% if recipe|in_shoplist:user %}
          <button class="button button_style_light-blue-outline" name="purchases"><span class="icon-check button__icon"></span>Рецепт добавлен</button>
        {% else %}
          <button class="button button_style_light-blue" name="purchases" data-out><span class="icon-plus button__icon"></span>Добавить в покупки</button>
        {% endif %}
        {% if recipe|in_favorite:user %}
          <button class="button button_style_none" name="favorites"><span class="icon-favorite icon-favorite_active"></span></button>
        {% else %}
          <button class="button button_style_none" name="favorites" data-out><span class="icon-favorite"></span></button>
        {% endif %}
      {% endif %}
    </div>
</div>