{% if author %}
  <h1 class="main__title">
    {% if author.first_name and author.last_name %}{{ author.first_name }} {{ author.last_name }}
    {% else %}{{ author.username }}
    {% endif %}
  </h1>
{% else %}
  <h1 class="main__title">{{ title }}</h1>
{% endif %}
<ul class="tags">
  {% for tag in tags %}
  <li class="tags__item">
    {% if tag.tag in request.GET %}
      <span id="{{ tag.tag }}" class="tags__checkbox tags__checkbox_style_{{ tag.color }} tags__checkbox_active" OnClick="add_or_delete_tags('{{ tag.tag }}');"></span>
    {% else %}
      <span id="{{ tag.tag }}" class="tags__checkbox tags__checkbox_style_{{ tag.color }}" OnClick="add_or_delete_tags('{{ tag.tag }}');"></span>
    {% endif %}
    <span class="tags__label">{{ tag.title }}</span>
  </li>
  {% endfor %}
</ul>

<script>
  function get_search_and_url(){
    const searchString = new URLSearchParams(window.location.search);
    const url = new URL(window.location.href);
    return {'searchString': searchString, 'url': url};
  };
  function add_or_delete_tags(name){
    data = get_search_and_url();

    if (data.searchString.has(name)){
      data.url.searchParams.delete(name)
    } else {
      data.url.searchParams.set(name, 'True')
    }

    window.location.href = data.url.href;
  }
</script>