{% extends 'base.html' %}
{% load static %}

{% block title %}Рецепты{% endblock title %}
{% block css %}<link rel="stylesheet" href="{% static "pages/index.css" %}">{% endblock css %}
{% block header %}{% include 'includes/checkbox_header.html' with title='Рецепты' %}{% endblock header %}

{% block content %}
<div class="card-list">
  {% for recipe in page %}
    {% include 'includes/card_recipe.html' with recipe=recipe %}
  {% endfor %}
</div>
{% include 'includes/paginator.html' with items=page paginator=paginator %}

<script src="{% static "js/components/MainCards.js" %}"></script>

<script src="{% static "js/components/Purchases.js" %}"></script>
{% if user.is_authenticated %}
<script src="{% static "js/components/Favorites.js" %}"></script>
{% endif %}

<script src="{% static "js/config/config.js" %}"></script>
<script src="{% static "js/components/CardList.js" %}"></script>
<script src="{% static "js/components/Header.js" %}"></script>

<script src="{% static "js/api/Api.js" %}"></script>
{% if user.is_authenticated %}
<script src="{% static "indexAuth.js" %}"></script>
{% else %}
<script src="{% static "indexNotAuth.js" %}"></script>
{% endif %}
{% endblock content %}