{% extends 'base.html' %}
{% load static %}

{% block title %}Пароль измёнён{% endblock title %}
{% block css %}
  <link rel="stylesheet" href="{% static "pages/index.css" %}">
{% endblock css %}

{% block header %}
  <h1 class="main_header">Досвидания!</h1>
{% endblock header %}

{% block content %}
<div class="custom-center-block">
  <p style="font-size: 22px" align="center">Спасибо за проведённое время с нами. Возвращайтесь!</p>
  <div class="custom-button-block">
    <a class="button button_style_blue" style="margin: auto; display: block;" href="{% url 'recipes:index' %}">Перейти на главную</a>
  </div>
</div>
{% endblock content %}