{% extends 'base.html' %}
{% load static %}

{% block title %}Регистрация{% endblock title %}
{% block css %}
  <link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock css %}

{% block header %}
  <h1 class="main__title main_header">Регистрация</h1>
{% endblock header %}

{% block content %}
<div class="form-container">
  <form class="form" method="post" action="{% url 'users:signup' %}">
    {% csrf_token %}
    {% include 'includes/form.html' with form=form %}
    <div class="form__footer">
      <button class="button button_style_blue">Создать аккаунт</button>
    </div>
  </form>
</div>
{% endblock content %}