{% load user_filters %}

{% if request.user|in_follower:author %}
  <button 
    {% if size_auto %}class="button button_style_light-blue button_size_auto"
    {% else %}class="button button_style_light-blue button_size_subscribe"{% endif %}
    name="subscribe">Отписаться от автора</button>
{% else %}
  <button 
    {% if size_auto %}class="button button_style_light-blue button_size_auto"
    {% else %}class="button button_style_light-blue button_size_subscribe"{% endif %}
    name="subscribe" data-out>Подписаться на автора</button>
{% endif %}