{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock title %}
{% block css %}<link rel="stylesheet" href="{% static "pages/index.css" %}">{% endblock css %}

{% block content %}
<div class="custom-center-block">
  <h2 class="custom-text-block" align="center">{{ message| safe }}</h2>
  <div class="custom-button-block">
    <a class="button button_style_blue" style="margin: auto; display: block;" href="{% url 'recipes:index' %}">Перейти на главную</a>
  </div>
</div>
{% endblock content %}