{% extends 'base.html' %}
{% load static %}

{% block title %}Мои подписки{% endblock title %}
{% block css %}<link rel="stylesheet" href="{% static "pages/myFollow.css" %}">{% endblock css %}
{% block header %}{% include 'includes/header.html' with title='Мои подписки' %}{% endblock header %}

{% block content %}
{% csrf_token %}
<div class="card-list">
  {% for following in page %}
    {% include 'includes/card_recipes_author.html' with author=following.author  %}
  {% endfor %}
</div>
{% include 'includes/paginator.html' with items=page paginator=paginator %}

<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/MainCards.js' %}"></script>
<script src="{% static 'js/components/MyFollow.js' %}"></script>
<script src="{% static 'js/components/Subscribe.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'myFollow.js' %}"></script>
{% endblock content %}