{% extends 'base.html' %}
{% load static %}

{% block title %}{{ flatpage.title }}{% endblock title %}
{% block css %}
  <link rel="stylesheet" href="{% static 'pages/single.css' %}">
  <link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock css %}

{% block content %}
<div class="container flatpage_container">
  <div class="flatpage_content">
      <h1 align="center" style="font-size: 3em">{{ flatpage.title }}</h1>
        {{ flatpage.content }}
  </div>
</div>
{% endblock content %}